<ion-header class="main_header">
  <ion-navbar>
  
    <ion-title>{{ title }}</ion-title>
    
  </ion-navbar>
</ion-header>


<ion-content padding style="background: url(assets/image/bg.jpg);background-size: cover;background-repeat: no-repeat;">

<div style="height:8vh;float:left;width:100%;"></div>

  <div class="signin_box">
    <form #addrForm="ngForm" novalidate>
      <ion-list>
          <ion-item>
            <ion-input type="text" placeholder="First Name" [(ngModel)]='data.fname' name='fname' pattern='[a-zA-Z]*' #fname="ngModel" required></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-input type="text" placeholder="Last Name" [(ngModel)]='data.lname' name='lname' pattern='[a-zA-Z]*' #lname="ngModel" required></ion-input>
          </ion-item>
          <ion-item >
            <ion-input type="text" placeholder="Address"  [(ngModel)]='data.address' name='address' #address="ngModel" required>
              </ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Street"  [(ngModel)]='data.street' name='street' #street="ngModel" required>
              </ion-input>
          </ion-item>
          <ion-item class="location1">
            <ion-input type="text" placeholder="City"  [(ngModel)]='data.city' name='city' pattern='[a-zA-Z ]*' #city="ngModel" required>
              <ion-icon ios="ios-navigate" md="md-navigate" class="location" ></ion-icon></ion-input>
          </ion-item>

          <ion-item class="location1">
            <ion-input type="text" placeholder="Country" [(ngModel)]='data.country' name='country' #country="ngModel" required>
              <ion-icon ios="ios-navigate" md="md-navigate" class="location"></ion-icon></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text"  pattern='[0-9]+' maxlength='10' placeholder="Mobile Number" [(ngModel)]='data.mobileno' name='mobileno' #mobileno="ngModel" required></ion-input>
          </ion-item>
        
        </ion-list>

        <div class="button0">
          <ion-grid style="padding:0px;">
            <ion-row>
              <ion-col col-12 style="padding-left:0px;" >
                <button ion-button *ngIf="edit != 1" [disabled]="!addrForm.valid" (click)="add_addrs(addrForm)">Save</button>
                <button ion-button *ngIf="edit == 1" [disabled]="!addrForm.valid" (click)="edit_addrs(addrForm)">Update</button>
             </ion-col>
              <!--(click)="addressdetail()"-->
            </ion-row>
          </ion-grid>
        </div>

    </form>
  </div>

</ion-content>
