<ion-header class="main_header">
  <ion-navbar>
    <ion-title>Retrive Password</ion-title>

  </ion-navbar>
</ion-header>


<ion-content padding style="background: url(assets/image/bg.jpg);background-size: cover;background-repeat: no-repeat;">

  <div class="spacer" style="height:10vh;float:left;width:100%;"></div>
  <span class="heading">Change Password</span>

  <div class="email_box">
    <form #passwordForm="ngForm" novalidate>
      <ion-list>

        <ion-item>
          <ion-input type="password" placeholder="New Password" [(ngModel)]="data.password" name="password" minlength='6' #password="ngModel"
            required></ion-input>
        </ion-item>
        <ion-label color="danger">
          <div *ngIf="password.errors && (password.dirty || password.touched)">
            <div [hidden]="!password.errors.required">
              Password is required
            </div>
            <div [hidden]="!password.errors.minlength">
              Minimum length should be 6
            </div>
          </div>
        </ion-label>


        <ion-item>
          <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="data.cpassword" name="cpassword" #cpassword="ngModel"
            required></ion-input>
        </ion-item>
        <ion-label color="danger">
          <div *ngIf="cpassword.errors && (cpassword.dirty || cpassword.touched)">
            <div [hidden]="!cpassword.errors.required">
              Please confirm your password
            </div>
            <div [hidden]="!cpassword.errors.minlength">
              Minimum length should be 6
            </div>
          </div>
        </ion-label>
      </ion-list>

      <button ion-button (click)="Changepassword(passwordForm)" [disabled]='!passwordForm.valid'>Done</button>
      <!--(click)="account()"-->
    </form>
  </div>

</ion-content>