page-proplanner {

    .professional_event_btn{
        width: 100%;
        float: left;
    }
    .professional_event_btn .button{
        width: 100%;
        float: left;
        border: 1px solid #d7b359;
        background: rgba(146, 138, 138, 0.05);
        color: #d7b359;
        height: 50px;
        height: 52px;
        text-transform: capitalize;
        box-shadow: none;
        border-radius: 4px;
        font-size: 16px;
    }

}
