page-retrivepassword {

    .professional_event_btn{
        width: 100%;
        float: left;
        margin-top: 22px;
    }
    .professional_event_btn .button{
        width: 100%;
        float: left;
        border: 1px solid #d7b359;
        background: rgba(146, 138, 138, 0.05);
        color: #d7b359;
        height: 50px;
        border-radius: 4px;
        box-shadow: none;
        text-transform: capitalize;
    }
    .mail_icn {
        width: auto;
        float: left;
        font-size: 23px;
        margin-right: 6px;
        height: 25px;
    }
    .lock{
        width: 40%;
        margin: auto;
        float: none;
        display: block;
    }
    .heading{
        width: 100%;
        float: left;
        font-size: 18px;
        font-weight: 500;
        color: #d7b359;
        text-align: center;
    }


}
